@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .background-wall {
    background-image: url('./background.jpg');
    background-repeat: repeat;
    background-size: contain;
    height: 100%;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(99, 96, 96, 0.6);
}

/* For Emoji picker */
.emoji-picker-react {
  position: absolute !important;
  top: -19rem;
}
